@media screen and (max-width: 561px) {
    .header_main {
        padding: 100px 10px 230px;
        background-color: #EDF4FB;
    }

    .header_logo {
        width: 200px;
    }

    .header_logo img {
        width: 100%;
    }

    .header_top {
        position: relative;
        padding: 0 22px;

    }

    .header_callback, .header_school, .play_wrap {
        display: none;
    }

    .header_nav {
        position: absolute;
        flex-direction: column;
        width: 100%;
        background: #3298F2;
        z-index: 10;
        left: 100%;
        height: 97vh;
        top: 100%;
        align-items: center;
        padding-top: 100px;
        row-gap: 25px;
        transition: left 500ms;
    }

    .header_nav a {
        font-weight: 800;
        color: #ffffff;
        letter-spacing: 4px;
    }

    .header_top.active .header_nav {
        left: 0;
    }

    .header {
        overflow-x: hidden;
    }

    .header_sup-title {
        font-size: 20px;
    }

    .header_content_titles {
        display: flex;
        flex-direction: column-reverse;
    }

    .button_mobile {
        display: flex;
    }

    .header_content_button button {
        background-color: #FFE200;
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .header_content_button {
        margin-top: 50px;
    }

    .video_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
