@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    height: 2000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header_top {
    height: 92px;
    background-color: #F9F9F9;
    padding: 0 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3298F2;
}

.header_nav {
    display: flex;
    column-gap: 30px;
}

.nav_item a {
    font-size: 16px;
    color: #292929;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

/* Изменение цвета при наведении */
.nav_item a:hover {
    color: #3298F2;
}

.header_callback {
    width: 305px;
}

.header_callback button {
    width: 100%;
    border: 2px solid #3298F2;
    border-radius: 6px;
    height: 60px;
    font-weight: 600;
    color: #3298F2;
    background-color: transparent;
}

.header_main {
    padding: 89px 100px 150px 245px;
}

.header_content {
    width: 640px;
}

.header_sup-title {
    font-size: 19px;
    color: #FF9638;
    line-height: 23px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.header_title {
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.header_title span {
    color: #3298F2;
}

.header_text {
    font-weight: 500;
    line-height: 26px;
    color: #333333;
}

.header_text p:last-child {
    font-weight: bold;
    margin-top: 37px;
}

.header_content_button {
    margin-top: 120px;
}

/* Кнопка с бликом */
.header_content_button button {
    width: 382px;
    height: 60px;
    background-color: #FF9638;
    border-radius: 6px;
    font-weight: bold;
    color: #292929;
	border: none;
	/* Ставим relative */
	position: relative;
	/*Чтобы блик не выходил за пределы кнопки */
    overflow: hidden;
}

.header_content_button button::before {
    content: '';
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
	background-color: #ffffff;
	/* Меняет угол наклона */
    transform: skewX(-20deg);
	top: 0;
	/* Размытие */
	filter: blur(15px);
	/* Спрятали блик */
	left: -200px;
	/* Анимация постоянная обращаемся как назвали */
    animation: xxx 3500ms ease-in-out infinite;
}

@keyframes xxx {
    0% {
        left: -200px;
    }
    100% {
        left: 150%;
    }
}

.header_main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header_school {
    width: 760px;
}

.header_school-okten {
    font-size: 202px;
    font-weight: 900;
	text-transform: uppercase;
	/* gradient для текста */
    background: linear-gradient(90deg, #3298F2, #ff9638);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 149px;
}

/* Текст с обводкой */
.header_school2 {
    font-size: 168px;
    font-weight: 900;
    color: #ffffff;
    -webkit-text-stroke-color: #3298F2;
    -webkit-text-stroke-width: 2px;
    text-transform: uppercase;
    /*line-height: 130px;*/
}

.header_school-program {
    font-size: 68px;
    line-height: 83px;
    text-transform: uppercase;
    font-weight: 900;
}

.play_wrap, .play_button, .play {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Кнопка из 3 кругов и иконки */
.play_wrap {
    width: 156px;
    position: absolute;
    height: 156px;
    bottom: 110px;
    border: 1px solid #ff9638;
    left: 50%;
    margin-left: -78px;
}

.play_button {
    width: 96px;
    height: 96px;
    border: 2px solid #ff9638;
}

.play {
    width: 82px;
    height: 82px;
    border: 3px solid #ff9638;
    background-color: #C4C4C4;
}
.play i {
    font-size: 25px;
    color: #ffffff;
}

/* Кнопка из 3-х полосок */
.button_mobile {
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_mobile span {
    width: 48px;
    height: 7px;
    background-color: #3298F2;
    border-radius: 5px;
    position: relative;
    transition: background-color .3s;
}

/* Для того, чтобы не копировать код одной полоски */
.button_mobile span::before, .button_mobile span::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #3298F2;
    border-radius: 5px;
    transition: 300ms;
}

.button_mobile span::before {
    top: -15px;
    transition-property: top, transform;
    transition-duration: .3s, .3s;
    transition-delay: .3s, 0s;
}

.button_mobile span::after {
    bottom: -15px;
    transition-property: bottom, transform;
    transition-duration: .3s, .3s;
    transition-delay: .3s, 0s;
}

/* При нажатии полоска исчезает */
.active span {
    background: none;
}

/* При нажатии нижняя полоска станет под углом 45 градусов */
.active.button_mobile span::before {
    transition-delay: 0s, .3s;
    top: 0;
    transform: rotate(45deg);
}

/* При нажатии нижняя полоска станет под углом -45 градусов */
.active.button_mobile span::after {
    transition-delay: 0s, .3s;
    bottom: 0;
    transform: rotate(-45deg);
}

.header_content_titles {
    display: flex;
    flex-direction: column;
}

.video_mobile {
    display: none;
    background-color: #C4C4C4;
    border-radius: 6px;
    height: 250px;
    width: 95%;
    position: absolute;
    bottom: -115px;
    left: 2%;
}

.video_play {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ff9638;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_play i {
    font-size: 30px;
    color: #fff;
}

main {
    position: relative;
}




