* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../img/bg.jpg");
}

.title {
	color: black;
	text-align: center;
	background: silver;
	border: 1px solid black;
	border-radius: 20px;
	width: 25%;
	margin: 0 auto;
	font-size: large;
	margin-top: 40px;
	padding: 20px;
}

.bio {
	font-size: 20px;
	text-align: justify;
	color: black;
	background: silver;
	border: 1px solid black;
	border-radius: 20px;
	width: 90%;
	margin: 0 auto;
	font-size: large;
	margin-top: 40px;
	padding: 20px;
}

.films {
	font-size: 20px;
	text-align: justify;
	color: black;
	background: silver;
	border: 1px solid black;
	border-radius: 20px;
	width: 22%;
	margin: 0 auto;
	font-size: 20px;
	margin-top: 40px;
	padding: 20px;
}

li {
	margin-left: 55px;
	margin-top: 10px;
}

.gallery {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 92%;
	display: flex;
	justify-content: flex-start;
}

img {
	border-radius: 20px;
}